<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CalanderManagerConnectionString"
            connectionString="Data Source=.\instanse;Initial Catalog=DatabaseName;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>
https://download.my.visualstudio.com/db/en_sql_server_2019_enterprise_x64_dvd_5e1ecc6b.iso?t=9613f693-6bd5-43bc-a7da-22d1ed68da88&e=1611731622&h=6780424bf22fa0ae35ae7656f0b3d7bb&su=1
